qe2/src/main/app/qe2ErrorInsertVm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">


<flow name="QE2ErrorInsertVMFlow1" doc:name="QE2ErrorInsertVMFlow1">
		<vm:inbound-endpoint exchange-pattern="request-response" path="QE2.queue.VMError" doc:name="VM"/>
		<db:insert config-ref="ESBDBDatabase" doc:name="Database">
            <db:parameterized-query><![CDATA[
            INSERT INTO qe2.LOGFailure 
			(Process,Message,AdditionalText,servername) 
			VALUES(#[sessionVars.errorprocess],#[sessionVars.errormessage],left(#[sessionVars.erroradditionaltext],45),'localhost');]]></db:parameterized-query>

		</db:insert>

        <catch-exception-strategy doc:name="Catch Exception Strategy">
           <logger message="&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt; QE2: Error DB insert failed  &lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt; #[payload]" level="INFO" doc:name="Logger"/>
         </catch-exception-strategy>
    </flow>

</mule>
