qe2/src/main/app/qe2SOAPClient.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ee/ftp"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" 
xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" 
xmlns:file="http://www.mulesoft.org/schema/mule/file"
xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc"
xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/ee/ftp http://www.mulesoft.org/schema/mule/ee/ftp/current/mule-ftp-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/1.0-SNAPSHOT/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">


<http:polling-connector name="HTTP_Polling" cookieSpec="netscape" validateConnections="true" pollingFrequency="60000" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP Polling"/>
 

	<flow name="WSClient" doc:name="WSClient" processingStrategy="synchronous">
	
        <file:inbound-endpoint responseTimeout="10000" doc:name="FileXML" path="${qe2.daily.folder.wsclient}" connector-ref="FileDel"/>

		<message-properties-transformer scope="session" doc:name="Message Properties">
		<add-message-property key="vehicleNum" value="#[xpath('string(//VehicleNumber)')]"/> 	
		<add-message-property key="restClientURL" value="${qe2.rest.url}"/>  	
		<add-message-property key="clientURL" value="''"/>  		     
		</message-properties-transformer>
	
		<logger message="restClientURL ::: #[sessionVars.restClientURL]  " level="INFO" doc:name="Logger"/>
		<logger message="vehicleNum ::: #[sessionVars.vehicleNum]  " level="INFO" doc:name="Logger"/>
	

        <enricher target="#[sessionVars.clientURL]" doc:name="var">
		<scripting:component doc:name="Groovy">
		<scripting:script engine="Groovy"><![CDATA[
		import org.mule.api.transport.PropertyScope;
		String finalURL =message.getProperty("restClientURL", PropertyScope.SESSION) + message.getProperty("vehicleNum", PropertyScope.SESSION);
		System.out.println("finalURL :::   "+finalURL);						
		return finalURL;]]></scripting:script>
		</scripting:component>
		</enricher>
    

		<scripting:component doc:name="Groovy">
		<scripting:script engine="Groovy"><![CDATA[import com.itf.vehicle.casefile.VehicleExistenceLookupRequest;
		import org.mule.api.transport.PropertyScope;
		VehicleExistenceLookupRequest req = new VehicleExistenceLookupRequest();	
		String refId = message.getProperty("vehicleNum", PropertyScope.SESSION);
		System.out.println("refId  first call :::   "+refId);				
		req.setVehicleUniqueReference(refId);				
		return req;]]></scripting:script>
		</scripting:component>
		
		<!-- SOAP client -->
		
		<cxf:jaxws-client operation="VehicleExist" clientClass="com.itf.vehicle.casefile.UploadProcessorService" port="UploadProcessorPort"  doc:name="SOAP" />
		<http:outbound-endpoint exchange-pattern="request-response" method="POST" address="${qe2.wsdl}" doc:name="HTTP" responseTimeout="1200000" mimeType="text/xml"/>
		<object-to-string-transformer doc:name="Object to String"/>
		
		<message-properties-transformer scope="invocation" doc:name="Message Properties">
		<add-message-property key="vehicleExists" value="#[xpath('string(//VehicleExists)')]"/>
		<add-message-property key="errorLookingPolicy" value="#[xpath('string(//errorLookingVehicle)')]"/>          
		</message-properties-transformer> 
		
		<logger message="vehicleExists************    #[flowVars.vehicleExists]" level="INFO" doc:name="Logger"/> 
		<logger message="errorLookingPolicy************    #[flowVars.errorLookingPolicy]" level="INFO" doc:name="Logger"/> 
		<logger message="Payload************    #[payload]" level="INFO" doc:name="Logger"/> 

    
		<catch-exception-strategy doc:name="XMLtoXMLCatch Exception Strategy">
		<message-properties-transformer scope="session" doc:name="Message Properties"> 
		<add-message-property key="errorprocess" value="#['SOAP QE2']"></add-message-property>  
		<add-message-property key="errormessage" value="#['SOAP failure']"></add-message-property>  
		<add-message-property key="erroradditionaltext" value="#[exception.cause.message]"></add-message-property>  
		</message-properties-transformer>  
		<vm:outbound-endpoint exchange-pattern="request-response" path="QE2.queue.VMError" doc:name="VMError"></vm:outbound-endpoint>  
		</catch-exception-strategy>  

	</flow>

 
  
    
</mule>
